<section class="user">
    <h1><%= @user.name %></h1>
    <h2><%= mail_to(@user.email) %> member since <%= @user.created_at.strftime("%B %Y") %></h2>
    <% if current_user?(@user) %>
        <div class="actions">
            <% if current_user?(@user) %>
            <%= link_to "Edit Account", edit_user_path(@user), class: "button edit" %>
    <% end %>
    </div>
        <% end %>
            <% if current_user_admin? %>
            <div class="actions">
                <%= link_to "Delete Account", user_path(@user), class: "button edit", 
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </div>
        <% end %>
</section>
