<%= form_with(model: item) do |f| %>
  <%= render "shared/errors", object: item%>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>

    <%= f.label :mg_percent %>
    <%= f.text_field :mg_percent%>
    
    <%= f.label :price %>
    <%= f.number_field :price %>

    <%= f.label :number_of_stocks %>
    <%= f.number_field :number_of_stocks %>
    
    <%= f.label :image %>
    <%= f.file_field :image %>
    
    <% if item.new_record? %>
    <%= f.submit "Create Item" %>
    <% else %>
    <%= f.submit "Update Item" %>
    <% end %>
<% end %>
<section class="admin">
  <%= link_to "Back to Inventory", inventory_index_path, class: "button" %>
</section>
