<h1 class="text-center">INVENTORY</h1>
<div class="search-align">
  <%= form_tag(inventory_index_path, method: :get) do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search items..." , style: "height: 40%"%>
    <%= submit_tag "Search", class: "button" %>
  <% end %>
</div>
<ul>
  <% @items.each do |item| %>
    <section class="movie">
      <div class="image">
        <%= image_tag(item.image)%>
      </div>
      <div class="summary">
        <h1>
          <%= link_to item.name, item, style: "color: #793969;" %>
        </h1>
        <h3>
          <p>
            Price: <%= item.price %>
          </p>
          <p>
            MG: <%= item.mg_percent %>
          </p>
        </h3>
      </div>
    </section>
  <% end %>
  <section class="admin">
    <%= link_to "Add New Item", new_inventory_path, class: "button" %>
  </section>
</ul>