<section class="movie-details">
  <div class="summary">
      <div class="text-center">
        <%= image_tag(@item.image_file_name, style: "width:300px; height:300px;") %>
      <h1>FLAVOR: <%= @item.name %></h1>
      <p>
        <h3>NICOTINE LEVEL: <%= @item.mg_percent %></h3>
      </p>
      <p>
        <h3>PRICE: <%= @item.price %></h3>
      </p>
      <p>
        <h3>Stocks: <span id="stocks-count"><%= @item.number_of_stocks %></span></h3>
        <button class="adjust-stock" data-action="minus">-</button>
        <button class="adjust-stock" data-action="plus">+</button>
      </p>
      </div>
<section class="admin">
  <%= link_to "Add New Item", new_inventory_path, class: "button" %>
  <%= link_to "Back to Inventory", inventory_index_path, class: "button" %>
  <% if current_user_admin? %>
    <section class="admin">
        <%= link_to "Edit", edit_inventory_path(@item), class: "button" %>
        <%= link_to "Delete", inventory_path(@item), class: "button", 
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </section>
  <% end %>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const stocksCountElement = document.getElementById('stocks-count');
    const adjustStockButtons = document.querySelectorAll('.adjust-stock');

    adjustStockButtons.forEach(button => {
      button.addEventListener('click', function() {
        const action = this.dataset.action;
        let currentStocks = parseInt(stocksCountElement.innerText);

        if (action === 'plus') {
          currentStocks++;
        } else if (action === 'minus' && currentStocks > 0) {
          currentStocks--;
        }

        stocksCountElement.innerText = currentStocks;
      });
    });
  });
</script>
