<section class="item-details">
  <div class="summary">
      <%= image_tag(@item.image_file_name, style: "width:300px; height:300px;") %>
      <h1><%= @item.name %></h1>
      <p>
        <h3><%= @item.mg_percent %></h3>
      </p>
      <p>
        <h3><%= @item.price %></h3>
      </p>
      <% if current_user_admin? %>
      <section class="admin">
        <%= link_to "Edit", edit_inventory_path(@item), class: "button" %>
          <%= link_to "Delete", inventory_path(@item), class: "button", 
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</section>
<% end %>
<section class="admin">
  <%= link_to "Add New Item", new_inventory_path, class: "button" %>
  <%= link_to "Back to Inventory", inventory_index_path, class: "button" %>
</section>
