 <header>
    <nav>
      <% if current_user %>
        <%= link_to image_tag("ak.jpg"), home_index_path %>
      <ul>
        <li>
          <%= link_to "Home", home_index_path %>
        </li>
        <li>
          <%= link_to "Inventory", inventory_index_path %>
        </li>
        <li>
          <%= link_to "Order Now!", 'https://www.facebook.com/profile.php?id=61550976876490', target: '_blank' %>
        </li>
        </ul>
      </ul>
      <% end %>
       <ul class="right">
          <% if current_user %>
          <li><%= link_to current_user.email, current_user, class: "button" %></li>
          <li><%= link_to "Edit Credentials", edit_user_path(current_user), class: "button" %></li>
          <li><%= link_to "Log Out", session_path, class: "button", 
        data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to log out?" } %></li>
          <% else %>
          <li><%= link_to "Login", login_path, class: "button"%></li>
          <li><%= link_to "Register", sign_up_path(@user), class: "button"%></li>
          <% end %>
          <!-- <li>
            <%= form_tag(inventory_search_path, method: :get, class: "search-form", onsubmit: "redirectToSearchResults()") do %>
              <%= text_field_tag(:query, params[:query], placeholder: "Search items") %>
              <%= submit_tag("Search", class: "search-button") %>
            <% end %>
          </li> -->
        </ul>
    </nav>
  </header>

  <script>
  function redirectToSearchResults() {
    var query = document.getElementById('query').value;
    window.location.href = '/inventory/search?query=' + encodeURIComponent(query);
    return false; // Prevents the form from submitting normally
  }
  </script>
